[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
music-tag = "*"
alive-progress = "*"
opencv-python = "*"
sqlalchemy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
